header{
    font-size: 15px;
    color: white;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    font-size: 10px;
    margin-left: 30px;
}

.navbar__list{
    display: flex;
    margin-right: 60px;
    white-space: nowrap;
}

.navbar__list li{
    margin-right: 90px;
}

.navbar__log{
    display: flex;
    margin-right: 60px;
    white-space: nowrap;
}

.navbar__log li{
    margin-right: 50px;
}

.navbar__toggleBtn {
    right: 10px;
    font-size: 20px;
    display: none;
}

.banner{
    width: 100%;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
    background-color: rgb(225, 238, 254)
}

.banner__char_1 {
    height: 5px;
    margin-left: 150px;
    line-height: 150px;
}

.banner__char_2 {
    height: 5px;
    margin-left: 150px;
    line-height: 205px;
}

.banner__char_3 {
    height: 5px;
    margin-left: 150px;
    line-height: 210px;
}

.banner__partnerBtn {
    height: 30px;
    margin-left: 105px;
}

#banner__leftBtn {
    float: left;
    margin-left: 20px;
    color:#D6D6D6
}

#banner__rightBtn {
    float: right;
    margin-right: 20px;
    color:#D6D6D6
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}